# AWS Cognito Configuration
REACT_APP_USER_POOL_ID=your-user-pool-id
REACT_APP_USER_POOL_CLIENT_ID=your-client-id

# API Gateway Configuration
REACT_APP_API_GATEWAY_URL=https://your-api-gateway-url.execute-api.us-east-1.amazonaws.com/prod
REACT_APP_API_LIST_BY_USER_ID=/video/list/userId

# AWS Region
REACT_APP_AWS_REGION=us-east-1

# DynamoDB Configuration
REACT_APP_DYNAMODB_TABLE_NAME=VideoSlice
